@font-face 
  font-family: 'icomoon'
  src:  url('../extra_fonts/icomoon.eot?z5xud7')
  src:  url('../extra_fonts/icomoon.eot?z5xud7#iefix') format('embedded-opentype'),
    url('../extra_fonts/icomoon.ttf?z5xud7') format('truetype'),
    url('../extra_fonts/icomoon.woff?z5xud7') format('woff'),
    url('../extra_fonts/icomoon.svg?z5xud7#icomoon') format('svg')
  font-weight: normal
  font-style: normal


[class^="icon-"], [class*=" icon-"] 
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale


.icon-list2:before 
  content: "\e9bb"

.icon-heart:before 
  content: "\e9da"

.icon-play2:before 
  content: "\ea15"

.icon-pause:before 
  content: "\ea16"

.icon-backward:before 
  content: "\ea1a"

.icon-forward2:before 
  content: "\ea1b"

.icon-loop:before 
  content: "\ea2d"

.icon-shuffle:before 
  content: "\ea30"

